.note_list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 20px 0;
    animation: notes-appear 300ms ease-out forwards;
}

@keyframes notes-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
