.form_control {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    /* background-color: rgb(49, 49, 49); */
    /* color: white; */
    /* gap: 1em; */
    padding: 10px 20px;
}
