.form_control {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    background-color: rgb(49, 49, 49, 0.8);
    gap: 1em;
    padding: 20px 20px;
    border-radius: 10px;
    animation: form-appear 200ms ease-out forwards;
}

.input_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input_container input,
.input_container textarea {
    font-size: 1.1rem;
    padding-top: 28px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(142, 142, 142);
    resize: vertical;
}

.input_container input:focus,
.input_container textarea:focus {
    outline: none;
}

.input_container label {
    position: absolute;
    color: rgb(142, 142, 142);
    padding-left: 10px;
    padding-top: 5px;
}

.button_container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1em;
}

@keyframes form-appear {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }
    25% {
        opacity: 0.25;
        transform: translateY(-1rem);
    }
    50% {
        opacity: 0.5;
        transform: translateY(0rem);
    }
    75% {
        opacity: 0.75;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
